In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./JustTaxiAnalytics.csv")
df.head()

,booking_id,accuracy,bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,...,acceleration,driver_id,label,name,date_of_birth,gender,car_model,car_make_year,rating,age
0,309237645396,3.9,298.00000,-0.373673,9.287003,3.450790,0.019684,-0.008652,-0.000122,4.0,...,4.115000,58,0,Robbi,1977-10-29,Male,Ford,2011,3.5,45
1,635655159839,10.0,105.06311,0.095554,-7.256091,-5.868097,-0.041447,-0.126973,-0.034965,642.0,...,0.027399,140,0,Murvyn,1987-05-13,Male,Toyota,2011,4.0,35
2,68719476855,3.9,160.00000,0.493000,9.450000,0.375000,-0.031586,-0.482635,0.075562,224.0,...,0.108930,130,0,Taryn,1980-04-25,Male,Nissan,2011,4.5,42
3,214748364930,3.0,226.00000,0.424061,9.005522,-3.281991,0.039916,0.004747,0.018937,1008.0,...,0.000000,80,0,Gerald,1976-01-11,Male,Volkswagen,2005,4.5,46
4,8589934651,3.9,177.00000,0.471390,9.011368,2.549545,-0.011719,-0.116433,0.024612,1035.0,...,0.019140,147,0,Delila,1982-11-08,Female,Toyota,2011,3.0,40

In [3]:
df[df["booking_id"].isin(np.random.choice(df["booking_id"], size=20))].sort_values(["booking_id", "second"]).to_csv("pureData.csv", index=False)